<style>

/* =================================== */
/*	Basic Style 
/* =================================== */

body {
  font-family: sans-serif;
  font-size: 16px;
  width: 960px;
  margin: 1em auto;
  position: relative;
}
h1, h2, .dimension text {
  text-align: center;
  font-family: "PT Sans", Helvetica;
  font-weight: 300;
}
h1 {
  font-size: 4em;
  margin: .5em 0 0 0;
}
h2 {
  font-size: 2em;
  margin: 1em 0 0.5em;
  border-bottom: solid #ccc 1px;
}
p.meta, p.footer {
  font-size: 13px;
  color: #333;
}
p.meta {
  text-align: center;
}

text.icicle { pointer-events: none; }

.options { font-size: 12px; text-align: center; padding: 5px 0; }
.curves { float: left; }
.source { float: right; }
pre, code { font-family: "Menlo", monospace; }

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

/* =================================== */
/*	Stacked area chart style
/* =================================== */

.axis path,
.axis line{
  fill: none;
  stroke: black;
}

.tick line{
    opacity: 0.2;
}

.point {
        stroke: grey;
        stroke-width: 3px;
        opacity: 0;
      }
      .point:hover{
        opacity: .5;
      }
}

/* =================================== */
/*	Select input Style 
/* =================================== */

select option {
  color: black;
}

select option:first-child {
  color: grey;
}

select.empty {
  color: grey;
}

/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}


/* =================================== */
/*	Deputies style
/* =================================== */

.sim {
    display:inline-block;
    position: relative;
}
.sim:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #70d3ff;
    opacity: 0.5;
    border-radius: 7px;
}

.nao {
    display:inline-block;
    position: relative;
}
.nao:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #ff5f68;
    opacity: 0.5;
    border-radius: 7px;
}

.umDeputado {
    display: inline-block;
    width: 20%;
    padding-top: 2%;
    float: left;
}

div#deputies {
    text-align: center;
    padding-bottom: 2%; 
}

div#chart
{
  display: inline-block;
  float: left;
  width: 50%;
}

</style>